.about--wrapper {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10% 0;
  .about {
    position: relative;
    gap: 40px;
    margin-bottom: 20px;
    .about--resume {
      // height: 500px;
      width: 650px;
      gap: 30px;
      margin: 30px 20px;
      // position: relative;
      .about--resume__text {
        font-family: "Khand", sans-serif;
        // left: 20px;
        // top: 210px;
        // transform: translateY(-50%);
        // position: absolute;
        // overflow-y: scroll;
        min-width: 350px;
        // width: 140%;
        // height: 380px;
        color: var(--ptf-secondary-contrast);
        font-size: 18px;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      .about--resume__text::-webkit-scrollbar {
        display: none;
      }
      a:active {
        color: var(--ptf-secondary-contrast);
      }
      a:visited {
        color: var(--ptf-secondary-contrast);
      }
    }
    .about--cv {
      position: relative;
      display: block;
      align-self: center;
      color: var(--ptf-secondary-contrast);
      height: 80px;
      width: 160px;
      svg {
        height: 80px;
        width: 160px;
      }
      span {
        position: absolute;
        left: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        pointer-events: none;
        color: var(--ptf-secondary-contrast);
      }
    }

    .about--photo {
      height: 500px;
      width: 350px;
      position: relative;
      margin-right: 20px;
      img {
        object-fit: cover;
        object-position: center;
      }
      .about--photo__backlay {
        position: absolute;
        height: 500px;
        width: 350px;
        background: var(--ptf-accent);
        left: 20px;
        top: -20px;
        z-index: -15;
      }
    }
    .about--title {
      position: absolute;
      z-index: -30;
      width: 900px;
      left: -250px;
      top: 0;
      color: var(--ptf-primary-contrast);
      opacity: 0.5;
      font-size: 10em;
      animation: floating-font-right 15s infinite ease-in-out;
    }
  }
}

@keyframes floating-font-right {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 0);
  }
  75% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
