.contact--wrapper {
  padding: 50px 0;
  position: relative;
  background: var(--ptf-primary-contrast);
  z-index: 5;
  .contact--quote {
    position: absolute;
    top: 30%;
    right: 100px;
    font-size: 7em;
    color: var(--ptf-secondary-contrast);
    opacity: 0.5;
    animation: floating-font-right 100s infinite ease-in-out;
    z-index: -3;
  }
  .contact--hor-line {
    height: 60px;
    width: 60%;
    background: var(--ptf-accent);
    position: absolute;
    top: 0;
    left: 0;
  }
  .contact--item-block {
    margin-top: 50px;
    gap: 50px;
    .contact--item {
      text-align: center;
      line-height: 60px;
      position: relative;
      font-size: 22px;
      white-space: nowrap;
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
      z-index: 30;
      span {
        color: var(--ptf-secondary-contrast);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }
    a:active {
      color: var(--ptf-secondary-contrast);
    }
    a:visited {
      color: var(--ptf-secondary-contrast);
    }
    .contact--item:hover {
      transform: scale(1.05);
    }
  }
}

@keyframes floating-font-right {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(500px, 0);
  }
  75% {
    transform: translate(-500px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
