.gallery--wrapper {
  height: 15rem;
  width: 100%;
  position: relative;
  z-index: 600;
  .gallery--overlay {
    height: 15rem;
    width: 100%;
    position: absolute;
    background: var(--ptf-primary-contrast);
    opacity: 0.9;
    z-index: 30;
  }
  .gallery--content {
    height: 15rem;
    width: 100%;
    overflow-y: hidden;
    gap: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    .gallery--piece {
      height: 15rem;
      width: 15rem;
      img {
        height: 15rem;
        width: 15rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .gallery--content::-webkit-scrollbar {
    display: none;
  }
  .powered-by {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 300;
    span:nth-of-type(1) {
      font-size: 2rem;
      z-index: 300;
      color: var(--ptf-accent);
    }
    span {
      font-size: 1rem;
      color: var(--ptf-secondary-contrast);
    }
  }
}

@media (max-width: 1000px) {
  .gallery--wrapper {
    height: 30rem !important;
    .gallery--overlay {
      height: 30rem !important;
    }
    .gallery--content {
      height: 30rem !important;

      .gallery--piece {
        height: 30rem !important;
        width: 30rem !important;
        img {
          height: 30rem !important;
          width: 30rem !important;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .powered-by {
      span:nth-of-type(1) {
        font-size: 3rem;
      }
      span {
        font-size: 2rem;
      }
    }
  }
}
