.head--wrapper {
  width: 100%;
  height: 100vh;
  max-height: 1500px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  .head--title {
    height: 100vh;
    white-space: nowrap;
    span {
      height: 7rem;
      font-size: 6rem;
      color: var(--ptf-secondary-contrast);
    }
    span:nth-child(1) {
      margin-top: 10%;
    }
    .name {
      height: 3rem;
      font-size: 2rem;
      color: var(--ptf-primary-contrast);
      font-family: "Khand", sans-serif;
    }
    .head--design {
      .head--triangle {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        position: absolute;
        height: 25rem;
        width: 30rem;
        z-index: -3;
        .head--triangle__obj {
          border-style: solid;
          border-width: 0 15rem 25rem 15rem;
          border-color: transparent transparent var(--ptf-accent) transparent;
        }
        .head--scroll-arrow {
          transform: translateX(-50%);
          top: calc(25rem + 15px);
          left: 50%;
          height: 8rem;
          width: 16rem;
          position: absolute;
          z-index: -3;
          .head--scroll-arrow__wrapper {
            transform: rotate(180deg);
            position: relative;
            .head--scroll-arrow__obj {
              border-style: solid;
              border-width: 0 8rem 6rem 8rem;
              border-color: transparent transparent var(--ptf-accent)
                transparent;
            }
          }
          .head--scroll-arrow__text {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translate(-50%, -50%);
            span {
              z-index: 10;
              color: var(--ptf-primary-contrast);
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  .head--upper-ribbon {
    position: absolute;
    top: 100px;
    opacity: 0.5;
    z-index: -4;
    animation: slide-ribbon-right 20s infinite ease-in-out;
  }
  .head--lower-ribbon {
    position: absolute;
    opacity: 0.5;
    z-index: -4;
    animation: slide-ribbon-left 20s infinite ease-in-out;
  }
  .head--floaty {
    position: absolute;
    z-index: -4;
    span {
      font-size: 3em;
      color: var(--ptf-primary-contrast);
      opacity: 0.5;
    }
  }
  .head--floaty:nth-of-type(1) {
    top: -25px;
    left: 0px;
    font-size: 3.5rem;
    animation: floating-font-right 25s infinite ease-in-out;
  }
  .head--floaty:nth-of-type(2) {
    top: 200px;
    right: 150px;
    font-size: 4rem;
    animation: floating-font-left 20s infinite ease-in-out;
  }
  .head--floaty:nth-of-type(3) {
    top: 650px;
    left: 110px;
    font-size: 3rem;
    animation: floating-font-right 15s infinite ease-in-out;
  }
}

@media (min-width: 700px) {
  .head--scroll-arrow {
    display: none;
  }
}

@keyframes floating-font-right {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(200px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating-font-left {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-200px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-ribbon-right {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes slide-ribbon-left {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: -1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
