.works-tab {
  position: fixed;
  height: min-content;
  width: 90%;
  max-width: 1000px;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: var(--ptf-accent);
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  overflow-y: hidden;
  .works-tab--wrapper {
    pointer-events: auto;
    position: relative;
    overflow-y: auto;
    gap: 30px;
    .works--media {
      width: 100%;
      background: var(--ptf-primary-contrast);
      img {
        object-fit: cover;
      }
    }
    .works--details {
      margin: 20px;
      font-size: 0.8rem;
      color: var(--ptf-primary-contrast);
    }
    .works--exit {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 40px;
      width: 40px;
      background: var(--ptf-primary-contrast);
      border-radius: 20px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      border: 1px solid var(--ptf-accent);
      svg {
        position: absolute;
        left: 11px;
        top: 11px;
        height: 15px;
        width: 15px;
        stroke: var(--ptf-accent);
      }
    }
    .works--source {
      position: absolute;
      left: 10px;
      top: 10px;
      height: 60px;
      width: 60px;
      background: var(--ptf-primary-contrast);
      border: 2px solid var(--ptf-accent);
      border-radius: 35px;
      img {
        position: absolute;
        left: 10px;
        top: 10px;
        height: 35px;
        width: 35px;
        object-fit: cover;
        object-position: center;
      }
    }
    .works--tech-stack {
      background: var(--ptf-secondary-contrast);
      img {
        height: 2rem;
        margin: 20px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1000px) {
  .works--details {
    font-size: 2.5rem !important;
  }
  .works--tech-stack {
    img {
      height: 4rem !important;
    }
  }
}
