.works--wrapper {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 800px;
  .works {
    width: 100%;
    margin-bottom: 100px;
    .works--content {
      margin-top: 150px;
      position: relative;
      max-width: 1000px;
      .works--item {
        cursor: pointer;
        height: 200px;
        width: 300px;
        background: var(--ptf-secondary-contrast);
        margin-bottom: 20px;
        position: relative;
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
        img {
          object-fit: cover;
        }
        span {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          color: var(--ptf-secondary-contrast);
          font-size: 40px;
          z-index: 301;
          white-space: nowrap;
          pointer-events: none;
        }
      }
      .works--item:hover {
        transform: scale(1.1);
        .works--item__overflow {
          opacity: 0.5;
        }
      }
      .works--item__overflow {
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: opacity 0.3s ease-in-out;
        background: var(--ptf-primary-contrast);
        opacity: 0.8;
        z-index: 300;
      }

      .works--content__backlay {
        height: 50%;
        width: 50%;
        background: var(--ptf-accent);
        position: absolute;
        z-index: -10;
        margin-left: 220px;
        margin-top: 100px;
      }
    }
    .works--title {
      position: absolute;
      white-space: nowrap;
      opacity: 0.5;
      z-index: -5;
      span {
        position: absolute;
        left: -100px;
        font-size: 8em;
        color: var(--ptf-primary-contrast);
        animation: floating-font-right 20s infinite ease-in-out;
      }
    }
    .works--dash {
      position: absolute;
      margin-top: 150px;
      margin-left: 15px;
      opacity: 0.5;
      z-index: -5;
      div {
        position: absolute;
        left: -100px;
        top: 60px;
        height: 20px;
        width: 200px;
        background: var(--ptf-accent);
        animation: floating-font-right 20s infinite ease-in-out;
      }
    }
    .works--wow {
      position: absolute;
      margin-left: 1000px;
      margin-top: 450px;
      z-index: -5;
      span {
        position: absolute;
        font-size: 10em;
        color: var(--ptf-primary-contrast);
        white-space: nowrap;
        opacity: 0.5;
        animation: floating-font-left 17s infinite ease-in-out;
      }
    }
  }
}

@keyframes floating-font-right {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(200px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating-font-left {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-200px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
