@import "~bootstrap/scss/bootstrap";
@import "./styles/palette";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Bebas Neue", cursive;
  // font-family: "League Gothic", sans-serif;
}

html {
  font-size: 24px;
}

body {
  background: var(--ptf-secondary);
}

span {
  color: var(--ptf-primary-contrast);
}
a {
  text-decoration: none;
  color: var(--ptf-primary-contrast);
  text-decoration-color: var(--ptf-primary-contrast);
}

.layer {
  pointer-events: auto;
}
.ptf--fancy-button {
  .ptf--fancy-button__rect {
    stroke: var(--ptf-accent);
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
    animation: fancy-button 5s infinite linear;
    stroke-width: 15px;
    transition: stroke-dasharray 2s linear, stroke-dashoffset 2s linear;
  }
}
.ptf--fancy-button:hover {
  .ptf--fancy-button__rect {
    animation: none;
    stroke-dashoffset: 0;
    stroke-dasharray: 600;
  }
}

@keyframes fancy-button {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 240;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 10px;
  }
  .vignette::after {
    opacity: 0.4;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 7px;
  }
  .vignette::after {
    opacity: 0.2;
  }
}
